.picture___34zt3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background: url(/images/picture.jpg) center no-repeat;
  -webkit-filter: grayscale(75%) blur(3px);
  filter: grayscale(75%) blur(3px);
  z-index: -1;
}
.container___2Ql56 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 400px;
}

.avatar___WAz-J {
  width: 200px;
  border-radius: 100px;
}

.name___25b7p {
  font-size: 2.4rem;
}
.links___2poIB {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 400px;
}

.links___2poIB > li {
  -webkit-box-flex: 0;
  flex: 0 0 60px;
}

.links___2poIB > li > a {
  color: #fff;
  text-decoration: none;
}

.links___2poIB > li > a > svg {
  font-size: 2rem;
  display: block;
  margin: 0 auto;
}
* {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto;
}

a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

ul, li, ol {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  color: #fff;
}
