.links {
  display: flex;
  justify-content: center;
  align-items: center;

  > li {
    flex: 0 0 60px;

    > a {
      color: #666;
      text-decoration: none;

      > svg {
      font-size: 2rem;
      display: block;
      margin: 0 auto;
      }
    }
  }
}
